link(type="text/css", rel="stylesheet", href="/stylesheets/bootstrap-unmod.css")
style(type="text/css") .jsonapi, .geogitapi{ display: none; } .tech{ font-family: courier, serif; } .hero-unit{ padding: 30px; }

div.container
  .row
    .span12
      .hero-unit
        h1 GeoGinger Sync
        p Push to GitHub. Map with GeoGinger.

  .row
    .span4
      .well
        h3 Add a Repo
        p BETA: one per user
        strong No GeoJSON repos? Fork&nbsp
        a(href="https://github.com/mapmeld/city-water") this one
        form(action="/addrepo", method="POST")
          br
          label GitHub Username
          input#userinfo(type="text", name="user")
          br
          br
          label Project
          input#projectinfo(type="text", name="project")
          br
          input(type="submit", value="Add Repo")
    
    .span4
      h3 What is GitHub?
      p Open source code and open data are often stored and updated using Git.
      p
        span The most popular website for sharing work with Git today is&nbsp;
        a(href="http://github.com") GitHub
        span .
        p
          span When you share GeoJSON files on GitHub, the site makes&nbsp;
          a(href="https://github.com/cambridgegis/cambridgegis_data/blob/master/Landmark/Municipal_Buildings/LANDMARK_MunicipalBuildings.geojson", target="_blank") interactive maps
          span &nbsp;of your data.
      br
      h3 Why add GeoGinger?
      p GeoGinger thinks in geo. Where GitHub sees line-by-line changes in files, GeoGinger's core technology (GeoGit) sees points added, attributes modified, and polygons removed.
      p Outside developers can have their apps connect to GeoGinger to keep their data in sync.
      p
        span GeoGinger provides&nbsp;
        a(href="/api") APIs
        span &nbsp;to download data in multiple formats and see changes over time.
        
    .span4
      h3 Perfect Sync
      p GeoGinger checks GitHub daily for changes to your GeoJSON files.
      p Commits on GeoGinger have the same message and time as your commits to GitHub. Everything matches up!
      p There are four examples:
      ul
        li
          a(href="/divvy") Divvy Bikes - Chicago
        li
          a(href="/git/2005") Bike Lanes - Boston
        li
          a(href="/git/2023") Water Areas - Cambridge
        li
          a(href="/gitimport") WiFi Hotspots - DC

      h3 Update automatically
      p Adding a web hook on GitHub notifies GeoGinger when you push an update. GeoGinger will then sync to match your GitHub.
      p
        span Go to your GitHub repo's&nbsp;
        a(href="/images/githubsync1.png") admin panel
        span , then&nbsp;
        a(href="/images/githubsync2.png") add a web hook
        span &nbsp; pointing to http://geoginger.com/refresh/MAPID with your map's four-digit ID.
