link(type="text/css", rel="stylesheet", href="/stylesheets/bootstrap.min.css")

div.container
  .row
    .span8
      .hero-unit(style="padding-left:0")
        h2 GeoGinger
        ul
          li Map and track changes to your geodata
          li Sync to ArcGIS Server and GitHub
          li Use historic data to show changes to your map
    .span4
      .hero-unit
        h4 Code and installation
        ul.nav.nav-list
          li
            a(href="http://geogit.org/docs/quickstart.html") GeoGit
          li
            a(href="http://github.com/mapmeld/geogit-viz") GeoGinger

  .row
    .span3
      h3 Try it out
      p Select dates to show changes in data &rarr;
      hr
      h3 More
      ul
        li
          a(href="/permits") Boston Permits
        li
          a(href="/divvy") Divvy Bikes
        li
          a(href="/osm") OpenStreetMap bbox
        li
          a(href="/gitimport") Ben GitHub Import
    
    iframe.span9(src="/permits?label=dateonly", height="350", frameborder="0", scrolling="no", marginheight="0", marginwidth="0")
